[submodule "7-sorter-utility"]
	path = 7-sorter-utility
	url = https://github.com/spbu-coding/7-sorter-utility.git
[submodule "7-AShlegel"]
	path = 7-AShlegel
	url = https://github.com/spbu-coding/7-AShlegel.git
[submodule "7-PyRayman"]
	path = 7-PyRayman
	url = https://github.com/spbu-coding/7-PyRayman.git
[submodule "7-Ramazanov-Amir"]
	path = 7-Ramazanov-Amir
	url = https://github.com/spbu-coding/7-Ramazanov-Amir.git
[submodule "7-smmac72"]
	path = 7-smmac72
	url = https://github.com/spbu-coding/7-smmac72.git
[submodule "7-TimPushkin"]
	path = 7-TimPushkin
	url = https://github.com/spbu-coding/7-TimPushkin.git
[submodule "7-artmotika"]
	path = 7-artmotika
	url = https://github.com/spbu-coding/7-artmotika.git
[submodule "7-AzimMuradov"]
	path = 7-AzimMuradov
	url = https://github.com/spbu-coding/7-AzimMuradov.git
[submodule "7-danielsheh02"]
	path = 7-danielsheh02
	url = https://github.com/spbu-coding/7-danielsheh02.git
[submodule "7-esvault"]
	path = 7-esvault
	url = https://github.com/spbu-coding/7-esvault.git
[submodule "7-IAmFunkyFrog"]
	path = 7-IAmFunkyFrog
	url = https://github.com/spbu-coding/7-IAmFunkyFrog.git
[submodule "7-kettlberry"]
	path = 7-kettlberry
	url = https://github.com/spbu-coding/7-kettlberry.git
[submodule "7-Mishavint"]
	path = 7-Mishavint
	url = https://github.com/spbu-coding/7-Mishavint.git
[submodule "7-ShishaK1N9"]
	path = 7-ShishaK1N9
	url = https://github.com/spbu-coding/7-ShishaK1N9.git
[submodule "7-SofuriHafe"]
	path = 7-SofuriHafe
	url = https://github.com/spbu-coding/7-SofuriHafe.git
[submodule "7-zishkaz"]
	path = 7-zishkaz
	url = https://github.com/spbu-coding/7-zishkaz.git
[submodule "7-rudolf101"]
	path = 7-rudolf101
	url = https://github.com/spbu-coding/7-rudolf101.git
[submodule "7-Tizain"]
	path = 7-Tizain
	url = https://github.com/spbu-coding/7-Tizain.git
[submodule "7-AbdurazikovManuchehr"]
	path = 7-AbdurazikovManuchehr
	url = https://github.com/spbu-coding/7-AbdurazikovManuchehr.git
[submodule "7-AndreyBryns"]
	path = 7-AndreyBryns
	url = https://github.com/spbu-coding/7-AndreyBryns.git
[submodule "7-fertmanasa"]
	path = 7-fertmanasa
	url = https://github.com/spbu-coding/7-fertmanasa.git
[submodule "7-foreverjun"]
	path = 7-foreverjun
	url = https://github.com/spbu-coding/7-foreverjun.git
