[submodule "7-sorter-utility"]
	path = 7-sorter-utility
	url = https://github.com/spbu-coding/7-sorter-utility.git
[submodule "7-AShlegel"]
	path = 7-AShlegel
	url = https://github.com/spbu-coding/7-AShlegel.git
[submodule "7-PyRayman"]
	path = 7-PyRayman
	url = https://github.com/spbu-coding/7-PyRayman.git
[submodule "7-Ramazanov-Amir"]
	path = 7-Ramazanov-Amir
	url = https://github.com/spbu-coding/7-Ramazanov-Amir.git
[submodule "7-smmac72"]
	path = 7-smmac72
	url = https://github.com/spbu-coding/7-smmac72.git
[submodule "7-TimPushkin"]
	path = 7-TimPushkin
	url = https://github.com/spbu-coding/7-TimPushkin.git
